.home-container {
  background: url(../static/img/register_bga21eedf5.png) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 8403px; }

.home-container p {
  font-size: 30px; }
* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: rgba(0, 0, 0, 0.7); }
