
body {
    .avatar {
        width: 120px;
        height: 120px;
        margin: 20px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translate(100px, 100px)
    }
}